.list__search{
    padding-top: 15px;
    padding-left: 15px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    align-items: center;
    justify-content: center;
}