@font-face {
  font-family: "beaufortforlol";
  src: url("../../public/fonts/BeaufortforLOL-Regular.ttf");
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search__champs {
  width: 300px;
}

.search__champs > input {
  width: 300px;
  height: 30px;
  border-style: solid ;
  border-radius: 10px;
  border-color: #7e643a;
}

.search__resultsresultschamp {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 230px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.search__resultsresultschamp > p {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "beaufortforlol", cursive;
  font-size: 20px;
  cursor: pointer;
}

.search__resultsresultschamp > p:hover {
  background-color: lightgrey;
}

.search__resultsresultschamp::-webkit-scrollbar {
  display: none;
}

.search__type {
  padding-right: 20px;
}

.searchtype__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchtype__button {
  background-color: transparent;
  font-family: "beaufortforlol", cursive;
  color: #614414;
  font-weight: bold;
  padding: 10px;
  border-radius: 15%;
}

.active {
  background-color: rgb(145, 144, 144);
}

.listchamps__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


